.calendar-time-range {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 90%;
  background-color: var(--blue-500);
  border-radius: 8px;
  color: white;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;

  &--extra {
    background-color: var(--yellow-500);
    max-width: 80%;
    left: 10%;
    z-index: 10;
  }

  &--selected {
    z-index: 100;
  }
}