@import './variables.scss';

.calendar-header {
  display: flex;
  margin-left: $calendar-time-container-width;
  
  &__cell {
    flex: 1;
    border: 1px solid var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    text-align: center;

    &:not(:last-of-type)  {
      border-right: none;
    }
  }

  &__cell-day {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__cell-date {
    font-weight: bold;
    font-size: 20px;
    color: var(--gray-500);
    width: 28px;
    height: 28px;
    border-radius: 999px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &--today {
      background-color: var(--blue-500);
      color: white;
    }
  }
}