@import './variables.scss';

.calendar-body {
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  
  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__row {
    margin-left: $calendar-time-container-width;
    display: flex;
    position: relative;

    .calendar-body__cell {
      border: 1px solid var(--gray-300);
      border-top: none;
      flex: 1;

      &:nth-of-type(even) {
        background-color: var(--gray-50);
      }

      &.calendar-body__cell--disabled {
        background-color: var(--gray-700);
      }

      &:not(:last-of-type) {
        border-right: none;
      }
    }
  }

  &__time-mark {
    position: absolute;
    top: 0;
    left: -10px;
    transform: translate(-100%);
    font-size: 12px;

    &--primary {
      font-weight: bold;
      font-size: 14px;
    }
  }

  &__available-time-ranges-row {
    display: flex;
    margin-left: $calendar-time-container-width;
  }

  &__available-time-range-container {
    position: relative;
    z-index: 10;
    flex-grow: 1;
  }
}